:root {
  --header-bg-color: #0C4872;
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --green-color: hsl(140, 100%, 29%);
  --orange-color: hsl(45, 100%, 54%);
  --red-color: hsl(358, 83%, 52%);
  --aqua-color: hsl(183, 99%, 30%);
  --light-green: hsl(182, 34%, 85%);
  --light-black: #4a4f59;
  --light-color: hsl(225, 29%, 97%);
  --grey-color: hsl(0, 0%, 80%);
  --paddingX: 0 22px;
  --padding-13: 13px;
  --fs-mobile: 1rem;
  --fs-tablet: 1.125rem;
  --fs-desktop: 1.25rem;
  --fs-13: 0.8125rem;
}

/* removing browser default styles */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  font-family: "Epilogue", sans-serif;
  box-sizing: inherit;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

/* HEADER STARTS HERE */
/* HEADER MOBILE SCREENS*/
.header {
  background-color: var(--header-bg-color);
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  opacity: 1;
  transition: all 0.5s ease;
  /* display: none !important; */
}

.open-header {
  display: flex;
}

.nav-item {
  display: none;
}

.hide-menu {
  display: none;
}

.mylogo {
  margin-left: 13px;
}



.open-navbarbtn {
  display: block;
  color: var(--white-color);
  position: absolute;
  right: 10px;
  font-size: 20px;
}

.close__navbar__icon {
  position: absolute;
  top: 2px;
  right: 10px;
  color: var(--white-color);
  font-size: 20px;
}

.logo__navlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: var(--white-color);
  font-size: var(--fs-m);
  padding: 0rem 0rem !important;
}

.notification_icons_profile_img {
  display: flex;
  flex: 1;
  /* align-items: center; */
  /* justify-content: flex-end; */
  /* margin-right: 65px; */
  /* gap: 20px; */
}

.notification__icon,
.timer__icon {
  position: relative;
}

.notification__icon__indicator,
.timer__icon__indicator {
  position: absolute;
  left: 15px;
  bottom: 5px;
  padding: 2px 4px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--aqua-color);
  color: var(--red-color);
}

.profile__image__name {
  display: none;
}

/* menu */
.menu {
  background-color: var(--white-color);
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 44px;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s ease;
  opacity: 1;
}

.open-menu {
  display: flex;
}

.overlay {
  display: none;
  background-color: rgb(74, 65, 67);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.open-overlay {
  display: block;
}

.menu_profile__image__name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu_profile__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.menu_profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.profile__img__close__nav {
  position: relative;
  background-color: var(--header-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_profile__image__name {
  background-color: var(--white-color);
  padding: 8px 12px;
}

.close__navbar__icon {
  width: fit-content;
  height: fit-content;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.close__navbar__icon i {
  margin-top: 12px;
  margin-right: 13px;
  color: var(--white-color);
  cursor: pointer;
}

.menu__companies {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
  padding-left: var(--padding-13);
}

.menu__companies span:nth-child(1) {
  font-size: var(--fs-15);
  color: var(--black-color);
}


#cb1 {
  accent-color: var(--aqua-color);
}




.menu__setting {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-block-start: 30px;
  padding-left: var(--padding-13);
  font-size: var(--fs-15);
  color: var(--light-black);
  padding-bottom: 22px;
}



.line {
  position: absolute;
  left: 13px;
  right: 13px;
  bottom: 0;
  border: 1px solid var(--grey-color);
}

.menu__profile {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-block-start: 30px;
  padding: var(--padding-13);
  color: var(--black-color);
}

.tabulator-header {
  word-wrap: none;
  font-size: 8px;
}

#fsbody {
  word-wrap: none;
  font-size: 8px;
}

/* HEADER TABLET SCREENS*/
@media (min-width: 37.5em) {
  .nav-link {
    color: var(--white-color);
    font-size: var(--fs-tablet);
    padding: 0 0 !important;
  }
}

/* HEADER DESKTOP SCREENS*/
@media (min-width: 62.5em) {
  .header {
    /* position: fixed; */
    /* margin-bottom: 40px; */
    /* top: 20px; */
    z-index: 1020;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--paddingX);
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    background-color: var(--header-bg-color);
  }

  .logo__navlinks {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .mylogo {
    margin-left: 0;
  }

  .nav-item {
    display: block;
  }

  .open-navbarbtn , .close__navbar__icon {
    display: none;
  }

  .menu {
    display: none;
  }

  .nav-link {
    color: var(--white-color);
    font-size: 13px;
    padding: 0 0 !important;
  }

  i {
    font-size: 20px;
  }

  .notification__icon,
  .timer__icon {
    position: relative;
  }

  .notification__icon__indicator,
  .timer__icon__indicator {
    position: absolute;
    left: 18px;
    bottom: 8px;
    padding: 2px 4px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--aqua-color);
    color: var(--white-color);
  }

  .profile__image__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .profile__image__name span {
    align-self: center;
  }

  .notification_icons_profile_img {
    flex: none;
    margin-right: 0;
    flex-direction: row;
    align-items: center;
    gap: 28px;
  }

  .profile__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  .overlay {
    display: none;
  }

  .tabulator-header{
    font-size: var(--fs-13);
  }
}
/* HEADER ENDS HERE */

/* SEARCH BAR STARTS HERE */
/* SEARCH BAR MOBILE SCREENS*/
.search__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--paddingX);
  margin-block-start: 20px;
}

.search__title span {
  color: var(--black-color);
  opacity: 0.5;
  font-weight: bold;
  font-size: var(--fs-mobile);
}

.search__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey-color);
}

.search__input input {
  width: 100%;
  border: none;
  outline: none;
  color: var(--black-color);
}

.search__input i {
  color: var(--black-color);
  opacity: 0.5;
}

/* SEARCH BAR TABLET SCREENS*/
@media (min-width: 37.5em) {
  .search__title span {
    color: var(--black-color);
    opacity: 0.5;
    font-weight: bold;
    font-size: var(--fs-tablet);
  }
}

/* SEARCH BAR DESKTOP SCREENS*/
@media (min-width: 62.5em) {
  .search__section {
    margin-block-start: 15px;
  }

  .search__title span {
    color: var(--black-color);
    opacity: 0.5;
    font-weight: bold;
    font-size: var(--fs-desktop);
  }

  .search__input {
    width: 63%;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--grey-color);
  }
}
/* SEARCH BAR ENDS HERE */

/* CREAT UPLOAD FILTER STARTS HERE */
/* CREAT UPLOAD FILTER MOBILE SCREENS*/
.create__upload__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-bottom: 1px solid var(--grey-color);
  margin-block-start: 20px;
  padding: var(--paddingX);
  padding-bottom: 10px;
}

.create__upload__left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.create__upload__btn {
  background-color: var(--aqua-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px !important;
  border: none;
  /* padding: 8px 10px; */
  /* display: none !important; */
}

.create__upload__center {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter,
.group__by,
.favorites {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--black-color);
  opacity: 0.7;
}

.filter span,
.group__by span,
.favorites span {
  align-self: center;
}

.create__upload__right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.left__right,
.create__upload__right span:nth-child(1),
.create__upload__right span:nth-child(4) {
  color: var(--black-color);
  opacity: 0.7;
}

.span__bars i {
  color: var(--black-color);
  opacity: 1;
}

/* CREAT UPLOAD FILTER TABLET SCREENS*/
@media (min-width: 37.5em) {
  .create__upload__section {
    gap: 18px;
  }
}

/*CREAT UPLOAD FILTER DESKTOP SCREENS*/
@media (min-width: 62.5em) {
  .create__upload__section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 6px;
    padding-bottom: 8px;
  }

  .create__upload__left {
    gap: 15px;
  }

  .create__upload__btn {
    padding: 10px 15px;
  }

  .upload__btn,
  .download__btn {
    color: var(--aqua-color);
    font-weight: bold;
  }

  .create__upload__center {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .create__upload__right {
    gap: 15px;
  }
}
/* CREAT UPLOAD FILTER ENDS HERE */

/* TABLE STARTS HERE */
/* TABLE MOBILE SCREEN */
#example-table {
  padding: var(--paddingX);
}

.tabulator-header{
  font-size: 10px;
}

/* TABLE TABLET SCREEN */
@media (min-width: 37.5em) {
  .tabulator-header{
    font-size: 14px;
  }
}

/* TABLE DESKTOP SCREEN */
@media (min-width: 62.5em) {
  
  #example-table {
    /* display: none !important; */
    /* padding: var(--paddingX);
    margin-block-start: 18px;
    background-color: #fff;
    border: none; */
  }

  .tabulator-tableholder {
    font-size: 16px;
  }
}
/* TABLE ENDS HERE */



